@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

html,body {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #020224;
  }
  
  .header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100vw;
    padding: 5px 50px;
    box-sizing: border-box;
    background: #020224;
    color: white;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    justify-content: right;
  }
  
  .header li {
    margin: 0px 10px;
    width: 150px;
    text-align: end;
  }
  
  .list1,.list2,.list3 {
    position: relative;
    margin: 0;
    overflow: hidden;
  }

  .title_arrow {
    display: inline-block;
    margin: 0;
  }

  
  .banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
  /*   background: linear-gradient(90deg,#ffffff 40% ,#212121 50%); */
  }
  
  .bg {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 0;
  }

  .main_title {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(5px 2px 10px #CC02D8);
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
    animation: drawIn 4.5s ease-in both;
    display: inline-block;
  }

  .main_title g {
    animation: drawIn_inner 1.5s ease-in 1s both;
  }
  
  .sub_title {
    position: absolute;
    z-index: 1;
    left: 38%;
    bottom: 33%;
  }
  
  
  /* .mask {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    bottom: 0px;
    filter: drop-shadow(5px 0px 10px rgba(0,0,0,0.2));
  } */
  
  /* .list1:before,.list2:before,.list3:before {
    z-index: 2;
    content: attr(data-text);
    position: absolute;
    left: -1px;
    text-shadow: 3px 0px #C001C5;
    animation: parallax2 2s infinite linear alternate-reverse;
  } */
  
  /* .list1:after,.list2:after,.list3:after {
    z-index: 1;
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0px white;
    animation: parallax1 2s infinite linear alternate-reverse;
  } */
  
  /* 製造同色視差雜訊效果 */
  @keyframes parallax1 {
   0% {
          -webkit-clip-path: inset(82% 0 13% 0);
          clip-path: inset(82% 0 13% 0)
      }
  
      5.8823529412% {
          -webkit-clip-path: inset(17% 0 48% 0);
          clip-path: inset(17% 0 48% 0)
      }
  
      11.7647058824% {
          -webkit-clip-path: inset(11% 0 88% 0);
          clip-path: inset(11% 0 88% 0)
      }
  
      17.6470588235% {
          -webkit-clip-path: inset(2% 0 11% 0);
          clip-path: inset(2% 0 11% 0)
      }
  
      23.5294117647% {
          -webkit-clip-path: inset(48% 0 3% 0);
          clip-path: inset(48% 0 3% 0)
      }
  
      29.4117647059% {
          -webkit-clip-path: inset(34% 0 61% 0);
          clip-path: inset(34% 0 61% 0)
      }
  
      35.2941176471% {
          -webkit-clip-path: inset(10% 0 83% 0);
          clip-path: inset(10% 0 83% 0)
      }
  
      41.1764705882% {
          -webkit-clip-path: inset(83% 0 1% 0);
          clip-path: inset(83% 0 1% 0)
      }
  
      47.0588235294% {
          -webkit-clip-path: inset(36% 0 4% 0);
          clip-path: inset(36% 0 4% 0)
      }
  
      52.9411764706% {
          -webkit-clip-path: inset(52% 0 16% 0);
          clip-path: inset(52% 0 16% 0)
      }
  
      58.8235294118% {
          -webkit-clip-path: inset(86% 0 4% 0);
          clip-path: inset(86% 0 4% 0)
      }
  
      64.7058823529% {
          -webkit-clip-path: inset(49% 0 7% 0);
          clip-path: inset(49% 0 7% 0)
      }
  
      70.5882352941% {
          -webkit-clip-path: inset(35% 0 53% 0);
          clip-path: inset(35% 0 53% 0)
      }
  
      76.4705882353% {
          -webkit-clip-path: inset(3% 0 19% 0);
          clip-path: inset(3% 0 19% 0)
      }
  
      82.3529411765% {
          -webkit-clip-path: inset(28% 0 40% 0);
          clip-path: inset(28% 0 40% 0)
      }
  
      88.2352941176% {
          -webkit-clip-path: inset(62% 0 3% 0);
          clip-path: inset(62% 0 3% 0)
      }
  
      94.1176470588% {
          -webkit-clip-path: inset(42% 0 28% 0);
          clip-path: inset(42% 0 28% 0)
      }
  
      to {
          -webkit-clip-path: inset(17% 0 20% 0);
          clip-path: inset(17% 0 20% 0)
      }
  }
  
  
  /* 製造線條色差動畫 */
  @keyframes parallax2 {
      0% {
          -webkit-clip-path: inset(72% 0 6% 0);
          clip-path: inset(72% 0 6% 0)
      }
  
      5.8823529412% {
          -webkit-clip-path: inset(2% 0 87% 0);
          clip-path: inset(2% 0 87% 0)
      }
  
      11.7647058824% {
          -webkit-clip-path: inset(52% 0 49% 0);
          clip-path: inset(52% 0 49% 0)
      }
  
      17.6470588235% {
          -webkit-clip-path: inset(9% 0 10% 0);
          clip-path: inset(9% 0 10% 0)
      }
  
      23.5294117647% {
          -webkit-clip-path: inset(12% 0 65% 0);
          clip-path: inset(12% 0 65% 0)
      }
  
      29.4117647059% {
          -webkit-clip-path: inset(48% 0 45% 0);
          clip-path: inset(48% 0 45% 0)
      }
  
      35.2941176471% {
          -webkit-clip-path: inset(14% 0 41% 0);
          clip-path: inset(14% 0 41% 0)
      }
  
      41.1764705882% {
          -webkit-clip-path: inset(55% 0 4% 0);
          clip-path: inset(55% 0 4% 0)
      }
  
      47.0588235294% {
          -webkit-clip-path: inset(10% 0 3% 0);
          clip-path: inset(10% 0 3% 0)
      }
  
      52.9411764706% {
          -webkit-clip-path: inset(14% 0 45% 0);
          clip-path: inset(14% 0 45% 0)
      }
  
      58.8235294118% {
          -webkit-clip-path: inset(54% 0 18% 0);
          clip-path: inset(54% 0 18% 0)
      }
  
      64.7058823529% {
          -webkit-clip-path: inset(93% 0 7% 0);
          clip-path: inset(93% 0 7% 0)
      }
  
      70.5882352941% {
          -webkit-clip-path: inset(89% 0 12% 0);
          clip-path: inset(89% 0 12% 0)
      }
  
      76.4705882353% {
          -webkit-clip-path: inset(83% 0 17% 0);
          clip-path: inset(83% 0 17% 0)
      }
  
      82.3529411765% {
          -webkit-clip-path: inset(55% 0 13% 0);
          clip-path: inset(55% 0 13% 0)
      }
  
      88.2352941176% {
          -webkit-clip-path: inset(66% 0 5% 0);
          clip-path: inset(66% 0 5% 0)
      }
  
      94.1176470588% {
          -webkit-clip-path: inset(40% 0 49% 0);
          clip-path: inset(40% 0 49% 0)
      }
  
      to {
          -webkit-clip-path: inset(16% 0 42% 0);
          clip-path: inset(16% 0 42% 0)
      }
  }

  @keyframes drawIn {
    0% {
      stroke: transparent;
      stroke-dashoffset: 2000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes drawIn_inner {
    0% {
      fill: rgba(255,255,255,0)
    }
    100% {
      fill: rgba(255,255,255,1)
    }
  }


/* section2 */
.folio_title {
  position: absolute;
  z-index: 10;
  top: 15%;
  left: 8%;
  color: rgba(255,255,255,0.8);
  letter-spacing: 0.4rem;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  font-size: 52px;
}

.folio_title:before {
  z-index: 2;
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 3px 0px #C001C5;
  animation: parallax2 3s infinite linear alternate-reverse;
}

.folio_title:after {
  z-index: 1;
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0px white;
  animation: parallax1 2s infinite linear alternate-reverse;
}


.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(2,2,36,1) 10%,rgba(2,2,36,0.85) 30%,rgba(2,2,36,0.85) 60%,rgba(2,2,36,0)), url("/Users/steven/Desktop/vs_project/portfolio/image/photo-1625632019469-108132f8fc60.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.port_pic {
  width: 400px;
  height: auto;
}

.port_wrapper {
  width: 80vw;
  position: absolute;
  margin-top: 15%;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  left: 50%;
  transform: translateX(-50%);
}

.port_wrapper:hover::-webkit-scrollbar-thumb {
  background: black;
}
.port_wrapper:hover::-webkit-scrollbar-track {
  background: transparent;
}

.port_item {
  text-decoration: none;
  position: relative;
  margin: 0px 25px;
  text-align: center;
}

.port_item::after{
  position: relative;
  top: -80px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.port_item1::after {
  content: "SANTA Official";
}
.port_item2::after {
  content: "OMG Pineapple bun";
}
.port_item3::after {
  content: "Bernice Dessert";
}
.port_item4::after {
  content: "Sunnyday Cafe";
}
.port_item5::after {
  content: "Envision Lab";
}
.port_item6::after {
  content: "Rongtai Official";
}

.scroll_tip {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  width: 200px;
  text-align: center;
  cursor: pointer;
}
.tip_text {
  display: inline-block;
  margin: 0 5px;
}
 
.tip_arrow {
  margin: 0;
  display: inline-block;
}

/*contact pannel*/
.contact_pannel {
  width: 100vw;
  height: 100vh;
  background-color: rgba(2,2,36,0.9);
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  opacity: 0;
  pointer-events: none;
}

.active {
  transition: 0.6s;
  opacity: 1;
  pointer-events: initial;
}

.contact_container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.icon_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 250px;
}

.icon_row2 {
  margin-top: 120px;
}

.fa-facebook-square:before,.fa-instagram:before,.fa-line:before,.fa-codepen:before,.fa-dribbble-square:before,.fa-linkedin::before {
  font-size: 100px;
  color: white;
}

.close_tag {
  position: absolute;
  z-index: 100;
  top: 10vh;
  right: 5vw;
  transform: rotate(45deg);
}

.line {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 5px;
  background-color: white;
}

.line2 {
  transform: translateY(-100%) rotate(90deg);
}

/*swiper button*/
.swiper-button-next, .swiper-button-prev {
  top: 90%;
  color: white;
}

.swiper-button-next {
  right: 5vw;
}

.swiper-button-prev {
  left: 90vw;
}